# My energy, towards reducing the costs.

- Energy provider: Essent (https://mijn.essent.nl)

## 1. Regarding our contract
```
There are 2 types of contract:
• Contract with variable rates that you can cancel every month, where 'flex' is stated next to the term. At the moment, this contract is cheaper than a new permanent contract.
• Contract with fixed rates that you fix for a certain period. The duration of your contract states the duration of your contract: 1, 3 or 5 years. You can also see the end date and when you can renew here.
```

**Our contract is "Variable Green Power; Duration: Flex"**

## 2. Regarding the rate costs (Incl. VAT)

#### Total
- Total electricity Normal rate (1 to 10,000 kWh): € 0.27540/kWh
- Total electricity Off-peak rate (1 to 10,000 kWh): € 0.22951/kWh

#### Electricity supply costs
- Variable delivery costs Normal rate: €0.19398/kWh
- Variable delivery costs Off-peak rate: €0.14809/kWh
- Discount Business advantage: 0.00%
- Fixed delivery costs (€6.49/month): € 0.21323/day
- Discount Home advantage: 0.00%

#### Grid management costs
- for Enexis B.V. : Capacity tariff up to 3 x 25A or up to 1 x 80A (€ 267.68/year): € 0.73338/day

#### Taxes and Fees
- Energy tax zone 1 (1 to 10,000 kWh) (€ 144.69/year): €0.04452/kWh
- Storage of sustainable energy and climate transition zone 1 (1 to 10,000 kWh) (€ 119.96/year): €0.03691/kWh
- Energy tax reduction (- €824.77/year): - € 2.25965/day

#### Other costs
- Automatic collection: €0.00 per account
- Manual payment: € 2.42 per account

## What time is peak?
https://www.essent.nl/kennisbank/stroom-en-gas/energierekening/dagstroom-en-nachtstroom

In [22]:
import pandas as pd

In [26]:
df = pd.read_excel('data/essent_report.xlsx')

In [27]:
# df['used-returned'] = df['used_kwh'] - df['returned_kwh']

In [28]:
df

       month  used_kwh  returned_kwh    bill  we_paid
0 2022-02-01       584            30  101.50       50
1 2022-01-31       793             9  155.66       50
2 2021-12-01       871             3  180.17       50
3 2021-11-01       637            12  125.57       50
4 2021-10-01       436            27   74.19       50
5 2021-09-01       236           162   -2.37       50
6 2021-08-01        75           430  -43.17       50
7 2021-06-01        14           303  -28.60       50

In [30]:
# bill = (used*use_rate) - (returned*returned_rate)
# I've inferred the used_rate and the returned_rate based on january and february 2022
used_rate = 0.2026707672
returned_rate = 0.5619909322 #it cant be correct! too high!

df['bill_calculated'] = (df['used_kwh']*used_rate) - (df['returned_kwh']*returned_rate)

In [31]:
df

       month  used_kwh  returned_kwh    bill  we_paid  bill_calculated
0 2022-02-01       584            30  101.50       50       101.500000
1 2022-01-31       793             9  155.66       50       155.660000
2 2021-12-01       871             3  180.17       50       174.840265
3 2021-11-01       637            12  125.57       50       122.357388
4 2021-10-01       436            27   74.19       50        73.190699
5 2021-09-01       236           162   -2.37       50       -43.212230
6 2021-08-01        75           430  -43.17       50      -226.455793
7 2021-06-01        14           303  -28.60       50      -167.445862

In [ ]:
d